nav{
    background-color:#0a1322 !important;
    /* position: fixed; */
}
.navbar-brand{
    color: #eaaa30;
}
.nav-link{
    color: #fff;  
}
.nav-item{
    margin: 0 10px;
}
.end{
    color: #fff !important;
}
.end1{
    color: #eaaa30 !important;
}
.navbar-toggler{
    border:1px solid #eaaa30;
}
.navbar-toggler-icon{
    color: #eaaa30 !important;
}

