<div class="d-flex mt-3">
    <div class="col-4"><h3 class="title">ABOUT US</h3></div>
    <div class="col-4">
        <b>About Wema Health</b>
        <div>At WemaHealth we are on a mission to make mental wellness accessible, relatable, and achievable for everyone. We understand the struggles and challenges that come with mental health issues, and we're here to provide you with the support, information, 
            and resources you need to fight depression and take control of your mental well-being.
        </div>

        <div>
            <b>Our Mission</b>
            <p>Our primary mission is to fight the stigma surrounding mental health and create a community where individuals feel supported, understood, and empowered to take control of their mental well-being. We believe that everyone deserves access to resources that can help them lead happier, more fulfilling lives.</p>
        </div>
    </div>
    <div class="col-4" >
        <img src="\assets\img3.jpg" class="abt-img">
    </div>
</div>
