<div class="d-flex mt-3">
    <div class="col-4"><h3 class="title">ABOUT US</h3></div>
    <div class="col-4">
        <p>At WemaHealth we are on a mission to make mental wellness accessible, relatable, and achievable for everyone. We understand the struggles and challenges that come with mental health issues, and we're here to provide you with the support, information, 
            and resources you need to fight depression and take control of your mental well-being.
        </p>
    </div>
    <div class="col-4" >
        <img src="\assets\img3.jpg" class="abt-img">
    </div>
</div>
