.title{
    text-align: center;
}
.abt-img{
    object-fit:fill;
    float: right;
}
@media only screen and (max-width:750px) {
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ._content{
        width: 100vw;
    }
}
@media only screen and (min-width:768px) {
    .main {
        display: flex;
    }
}