.send{
    background-color: #eaaa30;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 3px  10px;
    margin-left: 3px;
    cursor: pointer;
}
i{
    font-size: 30px;
    cursor: pointer;
}
.content{
    text-align: center;
}
.msg{
    margin: 0 15px 20px;
    border-radius: 10px;
    padding: 5px 10px;
    position: relative;
    font-size: 15px;
    width: max-content;
}

.msg.to {
    background-color: #eaaa30;
    color: #0a1322;
    margin-left: auto;
    text-align: right !important;
  }
  .msg.from {
    background-color: #0a1322;
    color: #eaaa30;
    margin-right: 50px;
  }
  .msg.to + .msg.to,
  .msg.from + .msg.from {
    margin-top: -10px;
  }