._main{
    background-color: #0a1322;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    text-align: center;
    color:#eaaa30;
}
/* mat-form-field{
    border-radius: 8px !important;
    outline: #eaaa30;
    border: 2px solid #eaaa30;
}
::ng-deep mat-form-field .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 } */
 mat-icon{
    color: #eaaa30;
 }

.submit{
    background-color:#eaaa30;
    color: #0a1322;
    border-radius: 8px;
    padding: 7px 15px;
    width: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}
