<div class="main">
    <p class="sub-title">#Your listening patner</p>
    <h1 class="main-title">Calm yourself down</h1>
    <p class="sub-title-1">Help yourself become a better person</p>

    <div class="btns">
        <button class="btn-1">Play The Demo</button>
        <button class="btn-2">Download App</button>
    </div>

    <div class="content">
        <div class="app-icons">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-youtube"></i>
        </div>

        <div class="contentImg">
            
        </div>

    </div>
   
</div>

