.main{
    background-color:#0a1322 !important;
    height: 100vh;
}
.sub-title{
    text-align: center;
    color: #eaaa30;
}
.sub-title-1{
    text-align: center;
    color: lightslategray;
    padding-top: 4px;
}
.main-title{
    color: #fff;
    text-align: center;
}