.main{
    background-color:#0a1322 !important;
    height: 100vh;
}
.sub-title{
    text-align: center;
    color: #eaaa30;
}
.sub-title-1{
    text-align: center;
    color: lightslategray;
    padding-top: 4px;
}
.main-title{
    color: #fff;
    text-align: center;
}
.btns{
    display: flex;
    justify-content: center;
    gap:5px;
    padding-top: 10px;
}
.btn-1{
    background-color: #0a1322;
    color: #eaaa30;
    border: 2px solid #eaaa30;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.btn-2{
    background-color: #eaaa30;
    color: #0a1322;
    outline: none;
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}